
/*//////////////////////////////////////ALL PAGES/////////////////////////////*/
.testImg {
	margin-left: 5px;

}
 .navbar li a  {
	border: 4px;
	color: darkblue;
	box-shadow: 2px 3px 2px #777;
   	border-radius: 75px;
   	background: linear-gradient(lightgreen, lightblue);
   	padding: 15px;
   	margin: 15px;

}
@media (max-width: 768px) {
  .navbar li a { 
  	text-align: center;
  	}
}

.dog {
	background: url("images/fire.png");
	background-repeat: no-repeat;
	background-size: 100%;


}
/*//////////////////////////////////////////INDEX PAGE///////////////////////*/
#blogText {
	color: darkred;
	text-align: right;


}



.click {
	box-shadow: 10px 10px 5px #888888;



}
#container{
	height: 100%;


}

#footer {
	padding:300px 0 10px 300px;
	
}
#footer a  {
	text-align: center;
	color: darkred;

}

#footer div {
	box-shadow: inset 0 0 5px #191970;
	padding: 10px;
	
	
	
	
	
}



.idx-img {
  width: 100%;
  background-image: linear-gradient(
  	rgba(205, 181, 205, 0.5),
    rgba(205, 181, 205, 0.5)
  	), url("images/background.png");  
  background-size: cover;
  position: absolute;
  background-attachment: scroll;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
   
  }

/*  ////////////////////////Blog Page////////////////////////////////*/

.blog-headlines {
	text-align: center;
	color: black;
  text-decoration: underline; 
}



#first-blog {
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(100, 55, 106, .7);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin: 15px;

	     
} 

#second-blog {
    border-radius: 40px;
    padding: 30px;
    background-color: rgba(238, 118, 000, 0.5);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin: 15px;
     
}
#third-blog {
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(000, 139, 069, 0.5);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 15px;
    margin-bottom: 5px;
     
}
#forth-blog {
    border-radius: 40px;
    padding: 30px;
    background-color: rgba(030, 144, 255, 0.5);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 10px;
    
     
} 
#fifth-blog {
    border-radius: 40px;
    padding: 30px;
    background-color: rgba(205, 092, 092, 0.5);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 10px;
    margin-bottom: 14px;


  } 


.bg-img {
 
  background-image: linear-gradient(
  	rgba(074, 112, 139, 0.5),
    rgba(074, 112, 139, 0.5)
  	), url("images/beach.png");  
  background-size: cover;
  position: absolute;
  background-attachment: scroll;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}
   
  }
/*///////////////////////////////////ABOUT PAGE/////////////////////////////////////*/




#about-banner {
	text-align: center;
	color: #483D8B;


}








/*background-image: url(first-image.png), ;
background-color: orange;
background-blend-mode: screen, multiply;*/


/*center center no-repeat;*/ /*url("images/Zion.png");*/

/*rgba(0, 215, 15, 0.5),
      rgba(0, 215, 15, 0.5)
   
054	100	13 /// 139	058	058
}


rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5)
*/













