
/*//////////////////////////////////////ALL PAGES/////////////////////////////*/
.testImg {
	margin-left: 5px;

}
 .navbar li a  {
	border: 2px;
	color: darkblue;
	box-shadow: 5px 5px 3px #777;
   	border-radius: 75px;
   	background: linear-gradient(lightgreen, lightblue);
   	padding: 10px;
   	margin: 5px;

}

@media (max-width: 768px) {
  .navbar li a { 
  	text-align: center;
  	}
}

.dog {
	background: url("images/fire.png");
	background-repeat: no-repeat;
	background-size: 100%;


}
/*//////////////////////////////////////////INDEX PAGE///////////////////////*/
#blogText {
	color: darkred;
	text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 4.8em;


}



.click {
	box-shadow: 10px 10px 5px #888888;



}
#container{
	height: 100%;


}

#footer {
	padding:300px 0 10px 300px;
	
}
#footer a  {
	text-align: center;
	color: darkred;

}

#footer div {
	box-shadow: inset 0 0 5px #191970;
	padding: 10px;
  margin: 30px;
  background-color: #4682B4;
  opacity: 0.6;
  font-family: 'Chewy', cursive;
  font-size: 1.2em;

	
	
	
	
	
}



.idx-img {
  width: 100%;
  background-image: linear-gradient(
  	rgba(205, 181, 205, 0.5),
    rgba(205, 181, 205, 0.5)
  	), url("images/background.png");  
  background-size: cover;
  position: absolute;
  /*background-attachment: scroll;*/
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
   
  }

/*  ////////////////////////Blog Page////////////////////////////////*/

.blog-headlines {
	text-align: center;
	color: black;
  text-decoration: underline;
  font-family: Satisfy, cursive;
  font-weight:normal;
  font-size: 1.5em;
  
}

 
#forth-blog:hover, #fifth-blog:hover {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    background: rgba(047,079, 079, .9);
    

}
#first-blog:hover {
  font-size: 1.3em;
  background-color: rgba(100, 55, 106, .9);
}
#first-blog {
    border-radius: 30px;
    padding: 15px;
    background-color: rgba(100, 55, 106, .5);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    font-size: .9em;
    font-family: 'Indie Flower', cursive;    	     
} 

#second-blog:hover {
    font-size: 1.3em;
    background: rgba(238, 118, 000, .8);
}
#second-blog {
    border-radius: 40px;
    padding: 15px;
    background-color: rgba(238, 118, 000, .4);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 20px;
    font-size: .9em;
    font-family: 'Indie Flower', cursive;
}

#third-blog:hover {
    font-size: 1.3em;
    background: rgba(000, 139, 069, .8);
}
#third-blog {
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(000, 139, 069, .4);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 20px;
    font-size: .9em;
    font-family: 'Indie Flower', cursive;     
}


#forth-blog:hover {
    font-size: 1.3em;
    background: rgba(030, 144, 255, .8);
}
#forth-blog {
    border-radius: 30px;
    padding: 15px;
    background-color: rgba(030, 144, 255, 0.5);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 20px;
    font-size: .9em;
    font-family: 'Indie Flower', cursive;     
} 

#fifth-blog:hover {
    font-size: 1.3em;
    background: rgba(205, 092, 092, .8);
}
#fifth-blog {
    border-radius: 40px;
    padding: 15px;
    background-color: rgba(205, 092, 092, 0.4);
    color: black; 
    box-shadow: 5px 5px 5px #444;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: .9em;
    font-family: 'Indie Flower', cursive;


  } 


.bg-img {
 
  background-image: radial-gradient(
  	rgba(074, 112, 200, 0.5),
    rgba(074, 112, 139, 0.5)
  	), url("images/beach.png");  
  background-size: cover;
  position: absolute;
  /*background-attachment: scroll;*/
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}
   
  }
/*///////////////////////////////////ABOUT PAGE/////////////////////////////////////*/




#about-banner {
	text-align: center;
	color: #483D8B;



}








