
/*//////////////////////////////////////ALL PAGES/////////////////////////////*/
* {
  cursor: url("images/pointer2.png"), auto;
}
li {
  list-style: none;
}
a {
  color: black;
}

.testImg {
	margin-left: 5px;
  margin-top: 100px;
  margin-bottom: 50px;
}


.bg-img {
  margin-top: 50px;
}

  

@media (max-width: 768px) {
  .navbar li a { 
  	text-align: center;
  	}
}

.dog {
	background: url("images/fire.png");
	background-repeat: no-repeat;
  /*position: fixed;*/
  background-size: cover;
  height: 300px;
  
}
#blogText {
  text-align: center;
  text-shadow: 1px 1px #FF0000;
  color: #8B0000;
  color: black;
}

/*//////////////////////////////////////////INDEX PAGE///////////////////////*/
#myName {
    color: white;
    transform-style: preserve-3d;
}

.rotate-y {
    animation: spinY 3s  linear;
}

@keyframes spinY {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }    
}
#myOtherName {
    color: white;
    transform-style: preserve-3d;
}
.rotate-x {
    animation: spinX 3s  linear;
}
@keyframes spinX {
    from { transform: rotateX(0); }
    to { transform: rotateX(360deg); }

}


#container{
	height: 100%;

}

#footer {
	padding:300px 0 10px 300px;
	
}
#footer a  {
	text-align: center;
	color: darkred;

}

#footer div {
	box-shadow: inset 0 0 5px #191970;
	padding: 10px;
  margin: 30px;
  background-color: #4682B4;
  opacity: 0.6;
  font-family: 'Chewy', cursive;
  font-size: 1.2em;	
}

#portfolio {
  border: solid;
  box-shadow: inset 0 0 5px #191970;
  background-color: rgba(192,192,192, 0.6);

}

.education {
  border: solid;
  box-shadow: inset 0 0 5px #191990;
  background-color: rgba(192,192,192, 0.6);
}
.resume {
  border: solid;
  box-shadow: inset 0 0 5px #191990;
  background-color: rgba(192,192,192, 0.6);
  padding: 7px;
}
.middleOfPage {
  height: 300px;
}
 h2 {
  color: brown;
  text-align: center;
}

.idx-img {
  width: 100%;
  background-image: linear-gradient(
  	rgba(205, 181, 205, 0.5),
    rgba(205, 181, 205, 0.5)
  	), url("images/background.png");  
  background-size: cover;
  position: absolute;
  /*background-attachment: scroll;*/
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  }
.intent {
  border: solid;
  box-shadow: inset 0 0 5px #191990;
  padding: 7px;
  background-color: rgba(192,192,192, 0.6); 
  
}

.secondStripe {
  background-color: black;
}
.secondStripe:before {
  
  height: 110px;    
}
.secondStripe:after {
   -moz-transition: height 1.5s ease;
    -webkit-transition: height 1.5s ease;
    -o-transition: height 1.5s ease;
    transition: height 1.5s ease;
    height: 5px;
}
/* ============================================================
  SPINNER CONTAINER
============================================================ */

[class*="cmn-spinner"] {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: rgba(0, 0, 0, 0);
 
}
.cmn-spinner__radar {
  border-top: solid 2px #96ff96;
  border-right: solid 2px transparent;
  border-bottom: solid 2px transparent;
  border-left: solid 2px transparent;
  border-radius: 100%;
  animation: cmn-spinner--animation__radar 1s  linear;
  -webkit-animation: cssAnimation 1s ease-in 1s forwards;
}
.cmn-spinner__radar::before, .cmn-spinner__radar::after {
  display: block;
  position: absolute;
  border-right: solid 2px transparent;
  border-bottom: solid 2px transparent;
  border-left: solid 2px transparent;
  border-radius: 100%;
  content: "";
}
.cmn-spinner__radar::before {
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  border-top: solid 2px #dcff64;
  -webkit-animation: cssAnimation 1s ease-in 1s forwards;
  animation: cmn-spinner--animation__radar 1s  linear;

}
.cmn-spinner__radar::after {
  top: 26px;
  right: 26px;
  bottom: 26px;
  left: 26px;
  border-top: solid 2px #fff;
  -webkit-animation: cssAnimation 1s ease-in 1s forwards;
  animation: cmn-spinner--animation__radar 1s linear;

}

/* animation keyframes */
@keyframes cmn-spinner--animation__radar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.cmn-spinner__radar::before, .cmn-spinner__radar::after, .cmn-spinner__radar {
    -moz-animation: cssAnimation 1s ease-in 3s forwards;
    -webkit-animation: cssAnimation 1s ease-in 3s forwards;
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}*/
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/*  ////////////////////////Blog Page////////////////////////////////*/

#navOnBlog {
  margin-top: -50px;
}
#headingToBlog {
  text-align: center;
  color: darkred;
}
#headingToBlog:hover{
  font-family: 'Flavors', cursive;
  font-size: 3em;
  text-shadow: 1px 1px black;
}

#blog-list {
    
    padding: 25px;
    background-color: rgba(139, 131, 120, .0);
    color: black; 
    font-size: 1.2em;
    margin-bottom: 30px;
       	     
} 
#blog-list article {
  /*background-color: rgba(139, 131, 120, .8);*/
  background-color: white;
  opacity: 0.7;
  box-shadow: 7px 10px 7px #333;
  padding: 15px;
  

}

#blog-list h4 {
  margin-top: 30px;
  text-align: center;
  border-top: solid 2px darkgreen;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 1.6em;
  text-shadow: 1px 1px green;
}
#peepsComments {
  border: dashed 1px;
}
#commentButton {
  margin-top: 5px;
  margin-left: 45%;
}
#commentField {
  background-color: white;
  opacity: 0.5;
  color: black;
  font-size: 1.5em;
}
.bg-img {
  background-image: radial-gradient(
  	rgba(074, 112, 200, 0.1),
    rgba(074, 112, 139, 0.1)
  	), url("images/Mount2.png");  
  background-size: cover;
  position: absolute;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}
   
 
/*///////////////////////////////////POST PAGE/////////////////////////////////////*/

#backForm{
  background-image: radial-gradient(
    rgba(0,0,0,1),
    rgba(074, 112, 200, 0.6),
    rgba(255, 0, 0, 0.7),
    rgba(255, 0, 255, 0.7),
    rgba(071, 255, 251, 0.7),
    rgba(221, 160, 157, 0.7),
    rgba(130, 031, 098, 0.7),
    rgba(230, 210, 198, 0.7),
    rgba(230, 031, 001, 0.7),
    rgba(030, 131, 208, 0.7),
    rgba(255, 231, 198, 0.7),
    rgba(074, 112, 200, 0.6),
    rgba(255, 0, 0, 0.7),
    rgba(255, 0, 255, 0.7),
    rgba(071, 255, 251, 0.7),
    rgba(221, 160, 157, 0.7),
    rgba(130, 031, 098, 0.7),
    rgba(230, 210, 198, 0.7),
    rgba(230, 031, 001, 0.7),
    rgba(030, 131, 208, 0.7),
    rgba(255, 231, 198, 0.7),
    rgba(074, 112, 207, 0.6),
    rgba(221, 160, 157, 0.7),
    rgba(130, 031, 098, 0.7),
    rgba(230, 210, 198, 0.7),
    rgba(250, 171, 001, 0.7),
    rgba(130, 231, 208, 0.7),
    rgba(255, 031, 198, 0.7),
    rgba(074, 112, 200, 0.6)
    );
  background-size: 100%;
  height: 800px;
  background-repeat: no-repeat;  
}
#form {
  background: lightblue;
  box-shadow: 5px 10px 5px #444;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
#downer {
  margin-top: 50px;
  box-shadow: 5px 5px 5px #000;
  margin-bottom: 15px;
}
#upper { 
  box-shadow: 5px 5px 5px #000;
  margin-top: 125px;

}
#formHead {
  text-shadow: 1px 1px #FF0000;
  color: #8B0000;
}
@media (max-width: 990px) {
  .secondStripe { display: none;}
}
@media (max-width: 770px) {

  #portfolio { 
    text-align: center;
    padding: 6px;
  }
  #footer {display: none;}
  .middleOfPage { height: 500px; }
  .resume { 
    margin-top: 170px;
    margin-bottom: 40px;
  }
  .intent { 
    margin-bottom: 20px;
    padding: 5px;

  }
  .education { text-align: center;}

  #myName { animation: none;
            margin-left: 10px; }
  #myOtherName { animation: none; }
}




